/*
    You can add your own custom styles here.
*/
.highlight pre, .highlight code {
    font-size: 13px !important;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}