/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #272822;
$background-color: #fafafa;
$error-color: #960050;
$keyword-color: #2e2e2d;
$text-color: #111111;
$name-color: #2e2e2d;
$literal-color: #d88200;
$highlight-color: #ffffcc;

@import "common.scss";